*{
    margin: 0;
    font-family: sans-serif ;
    font-size: 18px;
    color: white;
}
body{
    font-family:  sans serif;
    font-size: 1em;
    background-color: #1f2039;
}
a{
    color: #242424;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope';
}
em{
    color: #a5b4fc;
}
h1{
    font-size: 2.5em;
    color: #a5b4fc;
    font-family: 'Montserrat'; 
}
h2{
    color: #f9f8ff;
}
p li{
    font-size: 1.1em;
    font-family: 'Manrope';
    color: white;
}
header, footer{
    background-color: white;
    padding: 20px 30px;
}
.cta{
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    font-family: 'Manrope';
    border-radius: 50px;
    padding: 20px 30px;
}
a:hover{
    text-decoration: underline;
}
.cta:hover{
    background: linear-gradient(#696484 #8788BA);
    text-decoration: none;
}
.lien-icone{
    margin-left: 30px;
}
.lien-icone:hover{
    opacity: 0.5;
}
section{
    padding: 80px;
}
footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
}
@media screen and (max-width: 996px) {
    header nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    header nav img {
      margin-bottom: 20px;
    }
  
    header,
    footer {
      padding: 20px 20px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    section {
      padding: 50px 20px 50px 20px;
    }
  
    nav a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }